body {
	background-color: lavender;
}

h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
}

h3 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	/*font-style: italic;*/
}

h6 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
}

p {
	font-family: 'ABeeZee', sans-serif;
}

img {
	border-style: double;
}