/* global css */

body {
	background-color: thistle;
}
.background {
	position: absolute;
	z-index: 100;
}
h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
}
h3 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
h4 {
	font-family: 'Dancing Script', cursive;
}
p {
	font-family: 'ABeeZee', sans-serif;
	font-size: 13px;
}
img {
	border-style: double;
}
ul li {
	list-style: circle;
}

/* headshot and skyline css */
.intro img {
	position: relative;
	border-radius: 3px;
	left: 5px;
}
.headshot {
	position: relative;
	left: 115px;
}
.headshot img {
	border-radius: 65px;
}

.name-title {
	color: seashell;
	text-shadow: 1px 1px goldenrod;
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 240px;
}
.sub-title {
	color: seashell;
	text-shadow: 1px 1px goldenrod;
	position: absolute;
	top: 70px;
	right:330px;
}
.my-modals {
	color: white;
	position: absolute;
	z-index: 100;
	top: 415px;
	right: 270px;
}
.my-modals button {
	border-radius: 5px;
	margin: 10px;
	text-shadow: 1px 1px thistle;
	background-color: floralwhite;
	border-color: mistyrose;
}
.top-of-page {
	background-color: lavenderblush;
	border-radius: 3px;
}
.intro {
	margin-bottom: 25px;
}

/* content wells */
.portfolio {
	top: 15px;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}
.dev-skills {
	top: 10px;
}
.back-end {
	text-align: ;
}
.follow-me {
	top:6px;
}
.follow {
	left: 8px;
}
.follow h4{
	position: relative;
	left: 40px;
}

/* footer */
.icons ul li {
	list-style: none;
	display: inline;
}
.icons {
	left: 52px;
}
.header-footer {
	text-align: center;
}













